* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: hsl(220, 15%, 55%);
}

.main {
  position: relative;
  max-width: 144rem;
  height: auto;
  align-content: center;
  background-color: aqua;
}

.main::after {
  content: "";
  display: inline-block;
}

.container {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  background-color: orangered;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
  height: 47rem;
  width: 20%;
  padding: 0.5rem;
}

.img-block {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.img-1 {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.text-block {
  padding: 1.5rem;
  height: auto;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  text-align: center;
  font-weight: 700;
}

.para {
  font-size: 2rem;
  text-align: center;
  opacity: 0.6;
  font-weight: 400;
}

@media (max-width: 375px) {
  html {
    font-size: 31.5%;
  }

  .main {
    max-width: 37.4rem;
  }

  .container {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    height: 27.4rem;
    width: 20%;
    padding: 0.5rem;
  }

  .img-block {
    padding: 0.5rem 0.5rem 0 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .img-1 {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
  }

  .text-block {
    padding: 1.5rem;
    height: auto;
  }

  .heading {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-weight: 700;
  }

  .para {
    font-size: 0.9rem;
    text-align: center;
    opacity: 0.6;
    font-weight: 400;
  }
}
